.hidden{
  display: none;
}

li{
  list-style: none;
  border: 2px;
  border-style: solid;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
 }

 #results{
   max-width: 70%;
   padding: 10px;
 }



